body {
    margin: 0;
    padding: 4;
    color: #294762;
    opacity: 100%;
    font-size: 13px;
    font-style: normal;
    font-family: 'Solway', serif;
    font-weight: 40;
  }

  @font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    }

  @font-face {
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8sOUcUw.woff2) format('woff2');
    }

    .card {
        width: 350px;
        height: 206px;
        border: 1px solid #f1f1f1;
        box-shadow: 7px 7px 5px 0px rgba(194,190,194,1);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
      
    }

    .hidden {
        display: none;
    }

    #new-course-container {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #courses {
        margin-top: 20px;
    }

    #btnAdd {
        border-radius: 13px;
        color: rgb(222, 231, 230);
        background-color: #3b6386;
    }

    .course_card{
        padding-top: 10px;
    }
    
    .card_view {
        border: 5px solid grey;
        box-shadow: 7px 7px 5px 0px rgba(194,190,194,1);
        border-radius: 3px;
        margin-left: 2px;
    }

    .select{     
        position: sticky; 
        bottom: 0;
   }

   input {
    border-radius: 13px;
    border: .5px solid rgb(201, 199, 202);
    padding: 2px; 
    width: 160px;
    height: 15px;    
}

textarea {
    width: 96%;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    line-height: 19px;
    color: #666;
    resize: vertical;
    background: #fff;
    transition: background .25s ease-in-out;
}