body {
    margin: 0;
    padding: 4;
    color: #294762;
    opacity: 100%;
    font-size: 13px;
    font-style: normal;
    font-family: 'Solway', serif;
    font-weight: 40;
  }

  @font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
}

  @font-face {
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8sOUcUw.woff2) format('woff2');
    }

    .card {
        width: 350px;
        height: 206px;
        border: 1px solid #f1f1f1;
        box-shadow: 7px 7px 5px 0px rgba(194,190,194,1);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
      
      }

      .hidden {
        display: none;
      }
      
      
      #layout {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      
      #posts {
        margin-top: 20px;
      }
