  
  @font-face {
    font-family: 'Lato';
    font-style: bold;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    }

  @font-face {
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8sOUcUw.woff2) format('woff2');
    }
   @font-face {
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Inria Serif Regular'), local('InriaSerif-Regular'), url(https://fonts.gstatic.com/s/inriaserif/v1/fC1lPYxPY3rXxEndZJAzN3Srdy3vrFCl.woff2) format('woff2');
   }

   body {
    margin: 0;
    padding: 0;
    color: #294762;
    opacity: 100%;
    font-size: 13px;
    font-style: normal;
    font-family: 'Solway', serif;
    font-weight: 40;
  }

  div {margin: 20px 0px 10px 10px; }

   #new-course-container {
        display: flex;
        flex-flow: row wrap;
    }

    .card-wrapper {
        margin-left: 113px;
    }

    .card {
        width: 200px;
        height: 200px;
        box-shadow: 7px 7px 5px 0px rgba(194,190,194,1);
        border-radius: 10px;
        cursor: pointer;
    }
    .card:hover,
    .card.active {
        box-shadow: 0px 0px 0px 2px #4360b5;
     
    }

    .hidden {
        display: none;
    }

    .call {
        display: none;
    }

    #btnAdd {
        border-radius: 13px;
        border: 1px solid #f1f1f1;
        color: #ffffff;
        background-color: #9063f8;
        font-size: 300;
        cursor: pointer;
    }

    #btnAdd:hover,
    #btnAdd.active{
        background: #ffffff;
        color: #9063f8;
        border: 1px solid #9063f8;
    }

    #form-submit{
        border-radius: 13px;
        border: 0px solid #f1f1f1;
        color: #ffffff;
        background-color: #bff863;
        font-family: 'Solway';
        font-weight: 400;
        padding-bottom: 10px;
        height: 20px;
        width: 130px;
        margin-left: 300px;
        cursor: pointer;
    }

    #form-submit:hover,
    #form-submit.active{
        background: #4360b5;
        color: #fff;
    }
    
    #section-area {
        font-family: 'Inria Serif';
        color: rgb(2, 2, 2);
        margin-left: 113px;
    }

    #section-title{
        font-weight: bold;
        font-size: 67;
    }

    #section-content{
        font-weight: italic;
        transition: background .25s ease-in-out
    }

    .section-stuff{
        margin-left: 45px;
    }

    .course_card{
        padding-top: 10px;
    }
    
    .card_view {
        border: 5px solid grey;
        box-shadow: 7px 7px 5px 0px rgba(194,190,194,1);
    }

    input {
        border-radius: 13px;
        border: .5px solid rgb(201, 199, 202);
        padding: 3px; 
        width: 160px;
        height: 15px;    
    }

    textarea {
        width: 96%;
        outline: none;
        font-size: 14px;
        border-radius: 8px;
        border: 1px solid #ccc;
        padding: 15px;
        line-height: 19px;
        color: #666;
        resize: vertical;
        background: #fff;
        transition: background .25s ease-in-out;
    }

    #instruction{
        margin-left: 134px;
    }

    .wrapper{
        margin: 7px;
    }
  
    .wrapper .sidebar{
        position: fixed;
        top: 15px;
        background: #2e4ead;
        width: 100px;
        height: calc(100% - 80px);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.8s ease;
    }

    .wrapper .sidebar .logo{
        color: #fff;
    }

    .main_container{
        margin-left: 113px;
    }
  
    .wrapper .sidebar ul {
        display: block;
        padding: 0px; 
        color: #fff;
        margin-left: 7px;
        margin-bottom: 0px;
        color: #92a6e2;
        white-space: nowrap;
    }
    .wrapper .sidebar ul:hover,
    .wrapper .sidebar ul.active{
        margin-left: 18px;
        background: #4360b5;
        color: #fff;
        cursor: pointer;
    }

    .tags {
        list-style: none;
        margin: 0;
        overflow: hidden; 
        padding: 0;
      }
      
      .tags li {
        float: left; 
      }
      
      .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
      }
      
      .tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
      }
      
      .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .tag:hover {
        background-color: crimson;
        color: white;
      }
      
      .tag:hover::after {
         border-left-color: crimson;